.card {
    background-color: rgb(168, 19, 62);
    border-radius: 5px;
    padding: 10px;
    line-height: 1.5;
    min-width: 325px;
    margin-top: 5px;
    margin: 10px;
}

@media (max-width: 320px) {
    .card {
    width: 90%;
    max-width: 250px;
    text-align: center;
    }
}