* {
	margin: 0;
	padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(255, 255, 255);
}

main {
  background-color: rgb(0, 0, 0);
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

aside {
  grid-column: 1;
}

.imagem {
  grid-column: 2;
}

.imagem img {
  min-width: 288px;
  height: 475px;
  border-radius: 10px;
  margin-bottom:50px;
  padding: 10px;
}